{% extends 'account/base.html' %}

{% block head_title %}Все объявления{% endblock head_title %}



{% block content %}
<h1>Все объявления</h1>
{% if bulletins %}
<div>
<table>
    {% for bulletin in bulletins %}
    <tr><td><h1><a href="{{bulletin.get_absolute_url}}">{{bulletin.title_bul}}</a></h1></td></tr>
    <tr><td>{{bulletin.date_bul|date:'d.m.Y'}}</td></tr>
    <tr><td>{{bulletin.body_bul|safe}}</td></tr>
    <tr><td align="right">{{bulletin.author_bul}}</td></tr>
    {% endfor %}
</table>
</div>
{% else %}
<h2>No bulletins</h2>
{% endif %}
{% endblock content %}
