{% extends 'account/base.html' %}

{% block head_title %}Все объявления{% endblock head_title %}

{% block content %}
<h1>Все отзывы</h1>
<form method="GET">
    {{filter.form}}
    <input type="submit" value="Найти">
</form>

{% if replies %}
<div>
<table>
    {% for reply in replies %}
    <tr>
        <td>{{ reply.confirmation }}</td>
        <td>{{ reply.date_rep|date:'d.m.Y' }}</td>
        <td>{{ reply.bulletin|truncatewords:3 }}</a></td>
        <td>{{ reply.text_rep }}</td>
        <td>{{ reply.user_rep }}</td>
        <td><a href="{% url 'replies_delete' reply.id %}">Удалить</a></td>
        <td><a href="{% url 'confirm' reply.id %}">Подтвердить</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% else %}
<h2>No replies</h2>
{% endif %}
{% endblock content %}
